<?xml version="1.0"?>

<config>
    <modules>
        <Cpd_Fbopengraph>
            <version>0.1.0</version>
        </Cpd_Fbopengraph>
    </modules>
    <global>
    </global>
    <frontend>
        <layout>
            <updates>
                <fbopengraph module="Cpd_Fbopengraph">
                    <file>fbopengraph.xml</file>
                </fbopengraph>
            </updates>
        </layout>
    </frontend>
</config>
